html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  color: purple;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

button, a {
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box; }

/*@import "node_modules/font-awesome/scss/font-awesome.scss";*/
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot") format("eot"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot") format("eot"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg"); }

body {
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.5; }

.framework {
  max-width: 1600px;
  min-width: 1250px;
  margin: 0 auto; }

p, a {
  font-family: 'Montserrat-Regular';
  font-size: 16px; }

.btn {
  background-color: #f9b132;
  outline: none;
  box-sizing: content-box;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #51296f;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat-Bold";
  cursor: pointer;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.34); }

/*layouts*/
.header {
  background-color: #51296f;
  width: 100%; }
  .header .wrapper {
    width: 930px;
    margin: auto;
    padding: 10px 0 28px 0; }
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height: 45px; }
  .header__img {
    max-height: 40px; }
  .header .nav__container {
    display: flex; }
  .header .nav__item {
    padding: 5px 18px;
    border-right: 1px solid #6b4984;
    margin: auto; }
    .header .nav__item:last-child {
      border-right: none; }
    .header .nav__item .menu_text {
      color: white; }
      .header .nav__item .menu_text.active {
        color: #ffd282; }
      .header .nav__item .menu_text:hover {
        color: #ffd282; }
  .header .sign .sign_text {
    color: white; }
    .header .sign .sign_text:active {
      color: #f9b132; }
    .header .sign .sign_text:hover {
      color: #f9b132; }
  .header .search {
    display: flex;
    justify-content: space-between; }
    .header .search__input {
      display: flex;
      padding: 12px;
      flex: 1;
      background-color: white;
      border-radius: 5px;
      box-shadow: inset 1.414px 1.414px 1px 0px rgba(35, 0, 61, 0.36); }
      .header .search__input img {
        float: left;
        margin: auto 12px auto 0;
        width: 16px;
        height: 16px; }
    .header .search .marginRight {
      margin-right: 10px; }
    .header .search__text {
      flex: 1;
      margin-right: 10px;
      border: none;
      outline: none; }
  @media screen and (max-width: 900px) {
    .header__row {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    .header__toggleBtn {
      display: block; }
    .header__nav {
      display: none; } }

.isDropDown, .buy {
  position: relative; }

.dropDown {
  display: none;
  background-color: #fff9ee;
  position: absolute;
  left: -110px;
  top: 45px;
  padding: 20px;
  min-width: 290px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.34); }
  .dropDown .search {
    margin-bottom: 20px; }
  .dropDown__item {
    margin-bottom: 20px; }
  .dropDown__text {
    color: #51296f; }
    .dropDown__text:active {
      color: #b42f7d; }
    .dropDown__text:hover {
      color: #b42f7d; }
  .dropDown:after {
    position: absolute;
    left: 120px;
    top: -30px;
    content: '';
    border: 15px solid transparent;
    border-bottom: 15px solid #fff9ee; }
  .dropDown__social {
    display: flex;
    justify-content: space-between; }

.colGoods {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #b42f7d;
  border: black;
  color: white;
  padding: 0 6px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 8px; }

.visible {
  display: block; }

/*modules*/
/*--- Begin FirstSetion */
.firstSection {
  background-color: white;
  width: 100%;
  height: 100vh; }
  .firstSection .wrapper {
    width: 930px;
    margin: auto;
    padding: 10px 0 28px 0; }
  .firstSection__title {
    text-align: center;
    margin-bottom: 5px;
    background: #f9b132;
    padding: 15px 0; }
  .firstSection__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px; }
    .firstSection__container .box {
      padding: 5px;
      width: 25%; }
      .firstSection__container .box__container {
        border: 1px solid #51296f;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.34);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center; }
      .firstSection__container .box__title {
        padding: 5px;
        background-color: #51296f;
        color: white;
        width: 100%;
        text-items: center; }

/*--- End FirstSetion */
